# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc
*.zip

# Environment Variables
.env
.env.local

# Database/Vector stores
*.db
*.sqlite
*.sqlite3

# Next.js Build Output
.next/
out/
build/

# OS/Editor Files
.DS_Store
.vscode/
Thumbs.db
